.landing-page-footer-title {
  font-size: large;
  font-weight: 500;
  font-family: poppins;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}
.landing-page-footer-card-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  
}
.landing-page-footer-link {
  font-family: poppins;
  color: rgb(255, 255, 255);
}
